html, body{
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	/* color: white; */
}

body{
	background: url("../assets/background (1).jpg") no-repeat center center fixed;
	min-height: 1200px;
	position: relative;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li.active a:hover {
  background-color: rgba(51, 51, 51, 0.14);
  color: #f2dede;
  }


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	/*color: #d83a37;*/
  background-color: rgba(51, 51, 51, 0.14);
  color: #52A8FF;

}
.navbar-inverse{
	/*background-color: rgba(167, 70, 68, 0.77);*/
  background-color: rgba(51, 51, 51, 0);
  border: none;
  color: #f2dede;

}


@media(max-width: 987px){
  .navbar-inverse{
    background-color: rgba(167, 70, 68, 0.97);
    color: #f2dede;
  }
}

@media(min-width: 988px) {
 .navbar-inverse{
  padding: 25px 0;
  //affix
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  padding: 15px 0;
  font-size: 1.25em;

}
.navbar-inverse .navbar-brand {
  font-size: 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.affix {
  padding: 5px 0;
  background-color: #3e90d8;
  /*background-color: rgba(1,85,177,0.97);*/
}

.affix .navbar-brand {
  font-size: 1.25em;
}
} 
.navbar-inverse .navbar-nav>li>a {
  color: #f2dede;
}

.navbar-inverse .navbar-brand {
  color: #fcf8e3;
}

#body1 {
  /*color: #ffffff;*/
  background: url("../assets/gray-background.jpg")50% 0 repeat fixed;
  min-height: 1000px;
  background-size: cover;
  background-position: center;
}
#body2 {
  color: #ffffff;
  background: url("../assets/background (1).jpg")50% 0 repeat fixed;
  min-height: 750px;
  background-size: cover;
  background-position: center;
  padding-bottom: -900px;
}
.content{
	padding: 240px 0px;

	/*margin-bottom: 120px;*/
	text-align: center;
	/* offset-x | offset-y | blur-radius | color */
	/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);*/
}
#header-size{
  font-size: 40px;
}
.cus-text{
	padding-top: 10%;
	padding-bottom: 5px;
	text-align: center;
	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}
.margins{
  height: auto;
  vertical-align: auto;
}

.row {
     margin-right: 0px; 
     margin-left: 0px; 
}

#start{
  background: #0070C0;
  color:white;
}

h1{
	font-size: 2.5em;
	font-weight: 700;
  color: rgba(1,85,177,0.97);
}
a:hover{
	text-decoration: none; 
}
hr{
	width: 300px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.divider{
	width: 90%;
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.thumbnail img {
  height:250px;
  width:100%;
}
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/* image overlay*/
.ovr {
  position: relative;
  /*width: 50%;*/
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.ovr:hover .overlay {
  width: 100%;
  /*left: 0;*/
  opacity: 0.4;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 40px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* for left*/
.overlayLeft {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.ovr:hover .overlayLeft {
  width: 100%;
  left: 0;
  opacity: 0.4;
} 


/*==================FOOTER================
*/

.full {
    width: 100%;  
}

.footer {
  background: #3e90d8;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #FFFFFF;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #FFFFFF
}
.footer a:hover{
  color: blue;
}

.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em; 
}

